body {
  font-size: 16px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: flex-start;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 8px;
  margin: 2px;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.hidden-search-window {
  display: none;
}

.search-suggestions {
  position: absolute;
}

.suggestion-item {
  cursor: pointer;
}
